src/*.bld
src/*.trn
src/*.BAL
src/*.inf
src/*.txt
src/*.PTI
src/*.log
src/*.lst
src/*.b18
src/*.xlsx

src/res/*.txt

src/wwhp.dck
src/wwhp_cp.dck
src/ashp.dck

# Ignore all .txt files in the trn folder
src/res/trn/*.txt